Repository curiouscowboy/MatchZoo, changes with the owners that CODEOWNERS names for each.
All owners: @faneshion, @bwanglzu, @uduse, @yangliuy, @pl8787, @wqh17101

CODEOWNERS:

# Watchers and contributors to MatchZoo repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor 
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.

#  Define individuals or teams that are responsible for code in a repository.

# global owner.
*       @faneshion

# third-party & project configuration
.coveragerc             @bwanglzu
.gitignore      	    @faneshion
.travis.yml     	    @bwanglzu
CONTRIBUTING.MD 	    @bwanglzu
Makefile        	    @uduse @bwanglzu
README.md       	    @yangliuy @pl8787
readthedocs.yml 	    @wqh17101 @bwanglzu
requirements.txt        @faneshion @pl8787
setup.py                @faneshion @pl8787

# artworks
/artworks/              @faneshion

# notebooks
/notebooks/             @faneshion @pl8787 @uduse @bwanglzu

# tutorials
/tutorials/             @uduse @faneshion

# docs
/docs/                  @wqh17101 @bwanglzu

# tests
/tests/                 @faneshion @uduse @bwanglzu

# matchzoo
/matchzoo/engine/       @faneshion @bwanglzu @uduse @pl8787
/matchzoo/models/       @yangliuy @pl8787 @bwanglzu @uduse
/matchzoo/preprocessor/ @uduse @faneshion @pl8787
/matchzoo/tasks/        @uduse @bwanglzu
/matchzoo/generators/   @faneshion @uduse @pl8787 
/matchzoo/*             @faneshion @uduse @bwanglzu

retrain model
  notebooks/wikiqa/dssm.ipynb
Owners: @faneshion, @pl8787, @uduse, @bwanglzu

update doc
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/index.doctree
  docs/_build/doctrees/matchzoo.auto.doctree
  docs/_build/doctrees/matchzoo.contrib.doctree
  docs/_build/doctrees/matchzoo.contrib.layers.doctree
  docs/_build/doctrees/matchzoo.contrib.models.doctree
  docs/_build/doctrees/matchzoo.data_generator.doctree
  docs/_build/doctrees/matchzoo.doctree
  docs/requirements.txt
  docs/source/conf.py
  docs/source/matchzoo.auto.rst
  docs/source/matchzoo.contrib.layers.rst
  docs/source/matchzoo.contrib.models.rst
  docs/source/matchzoo.contrib.rst
  docs/source/matchzoo.data_generator.rst
  docs/source/matchzoo.data_pack.rst
  docs/source/matchzoo.datasets.embeddings.rst
  docs/source/matchzoo.datasets.rst
  docs/source/matchzoo.datasets.snli.rst
  docs/source/matchzoo.datasets.toy.rst
  docs/source/matchzoo.datasets.wiki_qa.rst
  docs/source/matchzoo.engine.rst
  docs/source/matchzoo.layers.rst
  docs/source/matchzoo.losses.rst
  docs/source/matchzoo.metrics.rst
  docs/source/matchzoo.models.rst
  docs/source/matchzoo.preprocessors.rst
  docs/source/matchzoo.processor_units.rst
  docs/source/matchzoo.rst
  docs/source/matchzoo.utils.rst
Owners: @wqh17101, @bwanglzu

Update requirements.txt
  docs/requirements.txt
Owners: @wqh17101, @bwanglzu

update
  docs/_build/doctrees/matchzoo.engine.doctree
  docs/_build/doctrees/matchzoo.models.doctree
  docs/_build/doctrees/matchzoo.tasks.doctree
  docs/_build/doctrees/modules.doctree
  docs/_build/html/.buildinfo
  docs/_build/html/_sources/matchzoo.engine.rst.txt
  docs/_build/html/_sources/matchzoo.models.rst.txt
  docs/_build/html/_sources/matchzoo.rst.txt
  docs/_build/html/_static/basic.css
  docs/_build/html/_static/css/theme.css
  docs/_build/html/_static/doctools.js
  docs/_build/html/_static/documentation_options.js
  docs/_build/html/_static/js/theme.js
  docs/_build/html/_static/searchtools.js
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/matchzoo.engine.html
  docs/_build/html/matchzoo.html
  docs/_build/html/matchzoo.models.html
  docs/_build/html/matchzoo.tasks.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/py-modindex.html
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/requirements.txt
Owners: @wqh17101, @bwanglzu

update
  matchzoo/data_pack/data_pack.py
Owners: @faneshion

update rst
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/source/matchzoo.generators.rst
  docs/source/matchzoo.preprocessor.rst
Owners: @wqh17101, @bwanglzu

update requirement
  docs/_build/doctrees/matchzoo.models.doctree
  docs/_build/html/genindex.html
  docs/_build/html/matchzoo.html
  docs/_build/html/matchzoo.models.html
  docs/_build/html/objects.inv
  docs/_build/html/py-modindex.html
  docs/_build/html/searchindex.js
  docs/requirements.txt
Owners: @wqh17101, @bwanglzu
